
*{
    margin: 0;
    box-sizing: border-box;
}

.c1{
    /* border: 1px solid black; */
    width: 1000px;
    display: flex;
    padding: 20px;
    
}

.fimg{
    width: 150px;
    
}

.dForImg{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: start;
    

}

.p1{
    margin-top: -18px;
}

